<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [19]:
df.shape

(70000, 13)

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [11]:
#45530 женщин и 24470 мужчин
#1 - женщины
#2 - мужчины
# Ваш код здесь
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df[df['gender']==1].describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,45530.000000,45530.0,45530.000000,45530.000000,45530.000000,45530.000000,45530.000000,45530.000000,45530.000000,45530.000000,45530.000000,45530.000000
mean,19510.124577,1.0,161.355612,72.565605,128.139249,94.522776,1.384735,1.235054,0.017856,0.025500,0.802021,0.496727
std,2432.024493,0.0,7.052726,14.238838,158.054522,174.776855,0.693417,0.582956,0.132431,0.157639,0.398481,0.499995
min,10859.000000,1.0,55.000000,21.000000,-140.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,18040.000000,1.0,157.000000,63.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19726.000000,1.0,161.000000,70.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21330.000000,1.0,166.000000,80.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23701.000000,1.0,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df[df['gender']==2].describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,24470.000000,24470.0,24470.000000,24470.000000,24470.000000,24470.000000,24470.000000,24470.000000,24470.000000,24470.000000,24470.000000,24470.000000
mean,19392.097875,2.0,169.947895,77.257307,130.078872,100.551982,1.333633,1.210462,0.218880,0.106375,0.806906,0.505231
std,2529.752770,0.0,7.228895,14.187636,146.186152,211.557292,0.653764,0.551493,0.413496,0.308323,0.394734,0.499983
min,10798.000000,2.0,65.000000,10.000000,-150.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17502.000000,2.0,165.000000,68.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19655.500000,2.0,170.000000,75.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,21321.000000,2.0,175.000000,85.000000,140.000000,90.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.0,207.000000,200.000000,14020.000000,10000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [12]:
# Ваш код здесь
#женщины

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [14]:
# Ваш код здесь
0.218880/0.017856

12.258064516129032

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [18]:
# Ваш код здесь
#20
df['age'].mean()/365

53.33935839530332

In [27]:
print (df[df['smoke']==1]['age'].quantile(.5)/30.5)
print (df[df['smoke']==0]['age'].quantile(.5)/30.5)

627.0491803278688
646.6229508196722

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [3]:
#2
# Ваш код здесь
df['age_years']=round(df['age']/365.25)

In [4]:
a,_ = df[(df['gender']==2) & 
         (df['smoke'] == 1) &
         (df['age_years']>=60) & 
         (df['age_years']<=64) & 
         (df['cholesterol'] == 1) & 
         (df['ap_hi'] < 120) & 
         (df['cardio'] == 1)].shape

In [5]:
b,_ =df[(df['gender']==2) & 
        (df['smoke'] == 1) &
        (df['age_years']>=60) & 
        (df['age_years']<=64) & 
        (df['cholesterol'] == 3) & 
        (df['ap_hi'] < 180) & 
        (df['ap_hi'] >= 160) & 
        (df['cardio'] == 1)].shape

In [6]:
a/b

1.0526315789473684

In [7]:
df['age_years'] = ((df['age'][df['gender'] == 2]) / 365.25)
data = df[(df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['smoke'] == 1)]
df1 = data[(data['ap_hi'] < 120) &  (data['cholesterol'] == 1)]
df2 = data[(data['ap_hi'] >= 160) & ((data['ap_hi'] < 180)) & (data['cholesterol'] == 3)]
round((df2[df2['cardio'] == 1].shape[0] / df2.shape[0]) / (df1[df1['cardio'] == 1].shape[0] / df1.shape[0]), 0)

3.0

In [28]:
df[(df['age_years']>=60) & (df['age_years']<=64)]

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
8,21914,1,151,67.0,120,80,2,2,0,0,0,0,60.0
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,61.0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,62.0
15,22530,1,169,80.0,120,80,1,1,0,0,1,0,62.0
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0
32,23046,1,158,90.0,145,85,2,2,0,0,1,1,63.0
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64.0
43,23186,1,169,71.0,140,90,3,1,0,0,1,1,64.0
46,21940,2,173,82.0,140,90,3,1,0,0,0,1,60.0
52,23388,2,162,72.0,130,80,1,1,1,0,1,1,64.0
70,21787,2,165,73.0,125,90,1,1,0,0,0,0,60.0
72,22748,1,165,90.0,120,80,1,1,0,0,0,1,62.0
83,22587,1,170,85.0,120,80,1,1,0,0,1,0,62.0
87,21752,1,148,80.0,130,90,1,1,0,0,1,1,60.0
90,22099,2,171,97.0,150,100,3,1,1,0,1,1,61.0
96,21874,2,179,95.0,150,90,1,1,0,0,1,1,60.0
97,23433,1,156,58.0,110,70,1,1,0,0,1,0,64.0
100,21934,1,157,77.0,140,90,1,1,0,0,1,1,60.0
106,21865,1,160,68.0,140,90,1,1,0,0,1,1,60.0
115,22636,1,178,93.0,130,90,1,1,0,0,0,1,62.0
117,21909,1,156,75.0,150,90,2,2,0,0,1,1,60.0
121,23204,1,151,92.0,130,90,1,1,0,0,0,1,64.0
123,23230,1,160,82.0,140,100,1,1,0,0,1,0,64.0
126,22821,2,168,80.0,160,100,1,1,0,0,1,0,63.0
133,21860,2,170,100.0,120,80,1,1,0,0,0,1,60.0
139,21903,1,170,72.0,120,80,1,1,0,0,0,1,60.0
145,23296,2,168,75.0,110,80,1,1,0,0,0,1,64.0
154,22055,1,167,84.0,130,80,1,1,0,0,1,0,60.0
157,21900,2,160,57.0,170,110,1,1,0,0,1,1,60.0
169,21758,1,165,65.0,140,90,1,1,0,0,1,1,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99790,22723,1,156,76.0,130,80,1,1,0,0,1,1,62.0
99795,21791,1,168,95.0,140,80,3,1,0,0,1,1,60.0
99798,21808,1,152,56.0,160,1000,1,1,0,0,1,1,60.0
99808,21906,1,156,48.0,120,80,1,1,0,0,1,0,60.0
99811,23135,2,180,100.0,140,90,1,1,0,0,1,1,63.0
99813,22508,1,159,62.0,160,100,1,1,0,0,1,1,62.0
99816,22417,2,166,78.0,170,1000,1,1,0,0,0,0,61.0
99825,22050,1,165,58.0,150,90,3,1,0,0,1,1,60.0
99837,23452,1,150,69.0,120,80,1,1,0,0,1,1,64.0
99838,22689,1,168,100.0,150,80,1,1,0,0,1,1,62.0
99847,23179,1,164,67.0,120,80,1,1,0,0,0,0,64.0
99849,23138,2,180,100.0,140,100,1,1,0,0,1,0,63.0
99855,23263,2,170,88.0,140,80,3,3,0,0,1,1,64.0
99864,21883,2,178,102.0,150,100,1,2,0,1,0,1,60.0
99882,23281,1,164,98.0,140,90,2,1,0,1,1,1,64.0
99896,22609,2,166,64.0,120,80,1,3,0,0,1,1,62.0
99906,23413,2,171,70.0,140,90,1,1,0,0,1,0,64.0
99909,22608,1,149,61.0,130,90,2,3,0,0,1,0,62.0
99919,22570,2,160,55.0,140,90,2,1,0,0,1,1,62.0
99922,23464,2,170,97.0,130,90,2,1,0,0,1,1,64.0
99930,23305,2,172,113.0,110,80,1,1,0,0,0,1,64.0
99932,22119,1,167,68.0,167,85,3,1,0,0,1,1,61.0
99939,21726,1,164,88.0,140,90,1,1,0,0,1,0,60.0
99951,22491,2,170,72.0,120,80,1,1,0,0,0,1,62.0
99958,22572,2,173,103.0,140,80,3,1,1,1,0,1,62.0
99961,22142,2,175,72.0,130,80,1,1,0,0,1,0,61.0
99969,22423,1,163,74.0,160,100,2,2,0,0,1,1,61.0
99981,21978,1,160,59.0,110,70,1,1,0,0,1,0,60.0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,62.0
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.0

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [3]:
#Верно Медианный BMI по выборке превышает норму
#Не верно У женщин в среднем BMI ниже, чем у мужчин
#Не верно У здоровых в среднем BMI выше, чем у больных
#Верно В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
# Ваш код здесь
df['bmi'] = df['weight']/((df['height']/100)*(df['height']/100))
df.bmi.mean()

27.55651255127882

In [4]:
df.bmi.describe()

count    70000.000000
mean        27.556513
std          6.091511
min          3.471784
25%         23.875115
50%         26.374068
75%         30.222222
max        298.666667
Name: bmi, dtype: float64

In [39]:
#Женщины
df[df['gender']==1]['bmi'].mean()

27.98758344183312

In [40]:
#Мужчины
df[df['gender']==2]['bmi'].mean()

26.754442357289474

In [41]:
#здоровый
df[df['cardio']==0]['bmi'].mean()

26.54817520679475

In [42]:
#больные
df[df['cardio']==1]['bmi'].mean()

28.566060627015435

In [46]:
#здоровые и непьющие мужчины
df[(df['cardio']==0) & (df['alco']==0) & (df['gender']==2)]['bmi'].mean()

25.872638075460173

In [45]:
df[(df['cardio']==0) & (df['alco']==0) & (df['gender']==1)]['bmi'].mean()

26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [60]:
hl = df['height'].quantile(.025)
hh = df['height'].quantile(.975)
wl = df['weight'].quantile(.025)
wh = df['weight'].quantile(.975)

In [65]:
#10%
# Ваш код здесь
a,_=df[(df['ap_lo']>df['ap_hi']) | 
   (df['height']<hl) | 
   (df['height']>hh) | 
   (df['weight']<wl) | 
   (df['weight']>wh)].shape

In [67]:
b,_=df.shape
round(100*a/b)

10

## Отправил ответ:
https://docs.google.com/forms/d/e/1FAIpQLSdtXFpiYYC9r0DBYfn8GTi1g_J0DoSpxklrJPU_wyF8f4CI_Q/viewform?edit2=2_ABaOnucw3IxoZvqaUF7tdTbTY_pLRTfzwgSOHtpzVEK_XyslwEzvQiqvJa0